# build pages
web/site
.ipynb_checkpoints
*.iml

# SQLite/GPKG temp files
*.gpkg-shm
*.gpkg-wal

# data created during workshop
workshop/jupyter/content/data/woudc-stations.xml
workshop/jupyter/content/data/srtm/srtm_high_pass.geotiff
workshop/jupyter/content/notebooks/test/10-geology-faults.gml
